body {
    background-color: #3b7074f6;
    color: white;
    font-family: "Bai Jamjuree", sans-serif;
    display: flex;
    justify-self: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button {  
   background-color: #6fcec1f6; 
   color:white;
   font-family: "Bai Jamjuree", sans-serif;
}

